<h1 class="mt-3">Pipes <small>Angular</small></h1>
<br>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombreRaro}}</td>
                    <td>Capitalizado (Pipe propio)</td>
                    <td>{{nombreRaro|capitalizado:true}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>Uppercase</td>
                    <td>{{nombre|uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>Lowercase</td>
                    <td>{{nombre|lowercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>Slice:3</td>
                    <td>{{nombre|slice:3}}</td>
                    <!-- Elimina los primeros x caracteres de un string. En este caso x = 3  -->
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>Slice0:3</td>
                    <td>{{nombre|slice:0:3}}</td>
                    <!-- Elimina los caracteres de un string desde el indice x hasta el el indice x + y.
                         En este caso x = 0; y = 3  -->
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>Slice1:5</td>
                    <td>{{arreglo|slice:1:5}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number: '.0-2'</td>
                    <td>{{PI | number:'.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje | percent}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{porcentaje | percent:'2.2-2'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{salario | currency}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'ARS' | currency:'EUR:'symbol-narrow':'.0-0''</td>
                    <td>{{salario | currency:'ARS'}} | {{salario | currency:'EUR':'symbol-narrow':'.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{salario | currency}}</td>
                </tr>
                <tr>
                    <td>{{valorPromesa}}</td>
                    <td>async</td>
                    <td>{{valorPromesa | async}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date</td>
                    <td>{{fecha | date}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'medium'</td>
                    <td>{{fecha | date:'medium'}} |<br> <a href="https://angular.io/api/common/DatePipe">Other dates formats</a></td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'medium':'':'{{idioma}}'
                        <br>
                        <button (click)="idioma='es';" class=" mr-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en';" class=" mr-1 btn btn-secondary">Inglés</button>
                        <button (click)="idioma='fr';" class="btn btn-success">Francés</button>
                    </td>
                    <td>{{fecha | date:'medium':'':idioma}} |<br> <a href="https://angular.io/api/common/DatePipe">Other dates formats</a></td>
                </tr>
                <tr>
                  <td>{{nombre}}</td>
                  <td>contraseña: {{activar}} <br>
                    <button (click)="activar=!activar" class="btn btn-outline-primary">Activar/Desactivar</button>
                  </td>
                  <td>{{nombre |password:activar }} </td>
              </tr>
            </tbody>
        </table>

        <h3>Slice <small> slice:5:20</small></h3>
        <br>
        <ul>
            <li *ngFor="let item of arreglo | slice:5:20" class="list-group-item"> {{item}}
            </li>
        </ul>

        <h3>JSON</h3>
        <br>
        <div class="row mb-5">
            <div class="col">
                <pre>
                {{cancion | json}}
              </pre>
            </div>
        </div>
        <h3 class="mt-4">Dom Seguro</h3>
        <br>
        <div class="col">
            <div class="row mb-5">
                <iframe width="560"
                        height="315"
                        [src]="videoUrl|domseguro"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
        </div>


    </div>
</div>
